
body{
  background-color: black;
}

.App-logo{
  height: 60%;
  margin: 2%;
}

.boton-agregar{
  margin: 0 0 0 74%;
  background-color: white;
  color: black;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.685);
}

.boton-agregar:hover{
  background-color: rgb(8, 235, 64, 0.685);
  border: none;
}


.table{
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.685);
}


.btn-eliminar{
  margin-left: 15px;
  background-color: rgb(211, 28, 28);
}

.btn-eliminar:hover{
  background-color: rgb(116, 14, 14);
  margin-left: 15px;
  border: none;
}

.btn-editar{
  background-color: rgb(119, 243, 94);
  border: none;
  color: white;
}

.btn-editar:hover{
  background-color: rgb(23, 163, 58);
  color: white;
  border: none;
}

.elemento-table{
  background-color: black;
}
