
body{
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
   background-repeat: no-repeat;
   min-height: 100vh;
  }

.App-logo{
  height: 60%;
  margin: 2%;
}

.boton-agregar{
  margin: 0 0 0 74%;
  border: none;
  background-color: #00c6fb;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.685);
}

.boton-agregar:hover{
  background-color: rgb(6, 78, 146);
  border: none;
}

.contenedor{
  background-color: rgba(255, 255, 255, 0.308);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.685);
}

.tabla{
  background:  #ffffff;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.685);
}

.btn-eliminar{
  margin-left: 15px;
  background-color: rgb(211, 28, 28);
}

.btn-eliminar:hover{
  background-color: rgb(116, 14, 14);
  margin-left: 15px;
  border: none;
}

.btn-editar{
  background-color: #00c6fb;
  border: none;
  color: white;
}

.btn-editar:hover{
  background-color: rgb(6, 78, 146);
  color: white;
  border: none;
}

.elemento-table{
  background-color: rgb(253, 253, 253);
}
